@charset "UTF-8";
/* ■■■■■ ШРИФТЫ ■■■■■■■■■■■■■■■■■■■■■■ */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
/* ■■■■■ ОБНУЛЯЮЩИЕ СТИЛИ ■■■■■■■■■■■■ */
body {
  margin: 0;
}
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body *::before, body *::after {
  box-sizing: border-box;
}

header, nav, main, footer, section, aside,
img, picture, video, canvas, svg,
label, summary, source, iframe {
  display: block;
}

img {
  max-width: 100%;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input, button, textarea, select {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

button, select {
  cursor: pointer;
}

/* ■■■■■ БАЗОВЫЕ СТИЛИ ■■■■■■■■■■■■■■■ */
html, body {
  height: 100%;
}

body {
  font-family: var(--ff-body, serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}
@supports (-webkit-tap-highlight-color: transparent) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

.page-wrapper {
  min-height: 100%;
  overflow: clip;
}

[class$=container] {
  max-width: 1056px;
  padding: 0 1rem;
  margin: 0 auto;
}

.none, [none] {
  display: none !important;
}

.nav {
  position: fixed;
  width: 100%;
  padding-block: 1.5em;
  font-size: var(--fz-400);
  background-color: hsla(0deg, 0%, 0%, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.nav__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid white;
  background-color: transparent;
  transition: 200ms;
}
.nav__item:last-child {
  position: relative;
  cursor: pointer;
}
.nav__item:last-child button[data-lang] {
  padding-left: 2.6rem;
}
.nav__item:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.7em;
  width: 1.4em;
  aspect-ratio: 1;
  transition: 200ms;
  pointer-events: none;
  background: url("./../img/lang_icon.svg") no-repeat center/contain;
}
@media (any-hover: hover) {
  .nav__item:hover {
    background-color: white;
  }
  .nav__item:hover:last-child::before {
    filter: invert(1);
  }
  .nav__item:hover button[data-lang], .nav__item:hover .nav__link {
    color: black;
  }
}
.nav__link, .nav button[data-lang] {
  display: block;
  padding: 0.7em 1em;
  color: white;
  transition: 200ms;
  background-color: transparent;
}

/* ■■■■■ СТИЛИ САЙТА ■■■■■■■■■■■■■■■■■ */
:root {
  --ff-body: "Merriweather", serif;
  --ff-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --clr-primary: black;
  --clr-bg: white;
  --clr-accent: dodgerblue;
  --clr-gold-300: 48 100% 71%;
  --clr-gold-400: 47 84% 56%;
  --clr-gold-700: 45 69% 42%;
  --clr-gold-900: 40 78% 28%;
  --fz-300: 0.75rem;
  --fz-400: 1rem;
  --fz-500: 1.25rem;
  --fz-600: 1.5rem;
  --fz-700: 2rem;
  --fz-800: 2rem;
  --fz-900: 3rem;
  --spacer: 2rem;
}

.page-wrapper {
  background-color: white;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #333;
}

.section {
  padding-block: 4rem;
}
.section_home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: dodgerblue url("./../img/home/111.jpg") center/cover;
}

.content {
  line-height: 1.8;
}
.content p:not(:last-child) {
  margin-bottom: 2em;
}

/*# sourceMappingURL=style.css.map */
