/* ■■■■■ БАЗОВЫЕ СТИЛИ ■■■■■■■■■■■■■■■ */
html, body {
    height: 100%;
}
body {
    font-family: var(--ff-body, serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    @supports (-webkit-tap-highlight-color: transparent) {
        -webkit-tap-highlight-color: transparent;
    }
}
.page-wrapper {
    min-height: 100%;
    overflow: clip;
    background-color: white;
}
[class$="container"] {
    max-width: 1056px;
    padding: 0 1rem;
    margin: 0 auto;
}
.none, [none] {
    display: none !important;
}