.contacts {
    // .contacts__body
    &__body {
        display: grid;
        gap: 1.5rem;
    }
    // .contacts__block
    &__block {
        margin-inline: auto;
        width: 50%;
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border: 2px dashed rebeccapurple;
    }
    &__image {
        width: 60px;
    }
    &__content {
        display: grid;
        gap: .5rem;
    }
    // .contacts__title
    &__title {
        font-size: 2rem;
    }
    // .contacts__description
    &__description {
    }
}
