.nav {
    position: fixed;

    width: 100%;
    padding-block: 1em;

    font-size: var(--fz-400);

    background-color: hsl(var(--clr-gold-400) / 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1em 1.5em;
    }

    &__link {
        display: block;

        padding: 1em;

        color: black;
        font-weight: 500;
        background-color: hsl(0 0% 100% / 0.3);
        transition: 200ms;

        @media (any-hover: hover) {
            &:hover {
                background-color: hsl(0 0% 98%);
            }
        }
    }
}