.nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding-block: 1.5em;

    font-size: var(--fz-400);

    background-color: hsl(0 0% 0% / 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    &__item {
        border: 1px solid hsl(0 0% 100% / .5);
        border-radius: 1em;
        transition: 200ms;

        &:first-child {
            background-color: rebeccapurple;
        }

        &:last-child {
            position: relative;
            border: none;
            cursor: pointer;

            button[data-lang] {
                padding-left: 2.6rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: .7em;
                width: 1.4em;
                aspect-ratio: 1;
                transition: 200ms;
                pointer-events: none;
                background: url("./../img/lang_icon.svg") no-repeat center / contain;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: white;
                &:first-child {
                    background-color: rebeccapurple;
                    .nav__link {
                        color: #fff;
                    }
                }
                &:last-child::before {
                    filter: invert(1);
                }
                button[data-lang], .nav__link {
                    color: black;
                }
            }
        }
    }

    &__link, button[data-lang] {
        display: block;
        padding: .7em 1em;
        color: white;
        background-color: transparent;
        transition: 200ms;
    }
}