.nav {
    position: fixed;

    width: 100%;
    padding-block: 1.5em;

    font-size: var(--fz-400);

    background-color: hsl(0 0% 0% / 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: .5rem;

        border: 1px solid white;
        background-color: transparent;
        transition: 200ms;

        &:last-child {
            position: relative;
            cursor: pointer;

            button[data-lang] {
                padding-left: 2.6rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: .7em;
                width: 1.4em;
                aspect-ratio: 1;
                transition: 200ms;
                background: url("./../img/lang_icon.svg") no-repeat center / contain;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: white;
                &:last-child::before {
                    filter: invert(1);
                }
                button[data-lang] {
                    color: black;
                }
            }
        }
    }

    &__link, button[data-lang] {
        display: block;
        padding: .7em 1em;
        color: white;
        transition: 200ms;
        background-color: transparent;
    }
}